# VS code文件
.vscode/
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# 编译生成的二进制文件
bin/

build/

# 打包的zip压缩包
CodeCraft-2021*.zip

# 数据样例
*.txt
!samplein.txt
!sampleout.txt
!training-1.txt
!training-2.txt

# 使用调试时产生的文件
SDK_C++/CodeCraft-2021/CodeCraft-2021

# 统计表格
*.csv